.nomeUsuario {
    /*Revisado e sem defeitos conhecidos*/
    background-color: #283477;
    font-size: 1.2vmax;
    padding: 1vmax;
    margin: 0;
    width: 100%;
    margin-left: -7%;
}

.menuLogado {
    /*Revisado e sem defeitos conhecidos*/
    list-style-type: none;
    font-size: 1vmax;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menuLogado li {
    /*Revisado e sem defeitos conhecidos*/
    margin-top: 1vmin;
}

.mlItens:hover {
    /*Revisado e sem defeitos conhecidos*/
    background-color: #7986CB;
    width: 100%;
    margin-left: -7%;
    border-radius: 1vmin;
    padding: 0;
    padding-left: 1vmin;
    margin: 1vmin;
}