#header,#footer{
    /*Revisado e Sem defeitos conhecidos*/
    background-color: #5C6BC0;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
    display:flex;    
    padding-bottom: 1vmax;
    box-shadow: 1px 3px 3px #7987cb49;
}
#header{
    /*Revisado e Sem defeitos conhecidos*/
    position: absolute;
    padding: 0vh;
    height: 7vmax;
    border-bottom-style: solid rgba(255, 0, 0, 0.123);
    border-bottom-left-radius: 1vmax;
    border-bottom-right-radius: 1vmax;
    background-position-y: top;
    padding-top: 1vh;
    padding-bottom: 1vmin;
    top: 0pt;
    left: 0pt;
}
.logo
{   
    /*Revisado e Sem defeitos conhecidos*/
    padding-left: 2vmax;
    width: 9vmax;
    height: 9vmax;
}
#avatar{
    /*Revisado e Sem defeitos conhecidos*/
    padding-left: 2vmax;
    width: 5vmax;
    height: 5vmax;
}

#footer{
    /*Revisado e Sem defeitos conhecidos*/
    position: bottom;
    margin-top: 1vmax;
    border-top-left-radius: 2vmax;
    border-top-right-radius: 2vmax;
    height: fit-content; 
    margin-bottom: 0;
    min-width: 100vw;
    bottom: 0pt;
    left: 0pt;
}

#subend{
    /*Revisado e Sem defeitos conhecidos*/
    font-size: 1vmax;
    padding: 0vmax;
    padding-left: 5vmin;
    margin-bottom: 0;
    padding-bottom: 0;
}

.contend{
    /*Revisado e Sem defeitos conhecidos*/
    bottom: 0pt;
    left: 2vmax;
    font-size: 1.4vmax;
    display: flex;
    flex-direction: column;
    
}
#details{
    /*Revisado e Sem defeitos conhecidos*/
    right: 2vmax;
    bottom: 0vmax;
    font-size: 1vmax;
    flex-direction: row;
}
#details img{
    /*Revisado e Sem defeitos conhecidos*/
    width: 2vmax;
    height: 2vmax;
}

/* CSS PARA OS PLACEHOLDERS EM DIVERSOS NAVEGADORES \/ \/ \/ \/ */
::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder  {
    /*Revisado e Sem defeitos conhecidos*/ 
    color: #283477;
    opacity: 0.8;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
}

/* CSS PARA OS PLACEHOLDERS EM DIVERSOS NAVEGADORES /\ /\ /\ /\ */

#logon{
    /*Revisado e Sem defeitos conhecidos*/
    align-self: center;
    justify-self: center;
    font-size: 1.2vmax;
    border-radius: 1vmin;
    padding: 1vmin;
    
}
#ft{
   padding-top: 0.7Vmin;
}
#ft1{
    padding-top: 1.25Vmin;
 }



p{
    /*Revisado e sem defeitos conhecidos*/
    font-size: 3.5vmin;
}
.nomeUsuario{
    /*Revisado e sem defeitos conhecidos*/
    background-color: #283477;
    font-size: 1.2vmax;
    padding: 1vmax;
    margin: 0;
    width:  100%;
    margin-left: -7%;
    
}
.menuLogado{
    /*Revisado e sem defeitos conhecidos*/
    list-style-type: none;
    font-size: 1vmax;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menuLogado li{
    /*Revisado e sem defeitos conhecidos*/
    margin-top: 1vmin;
    
}
.mlItens:hover{
    /*Revisado e sem defeitos conhecidos*/
    background-color: #7986CB;
    width: 100%;
    margin-left: -7%;
    border-radius: 1vmin;
    padding: 0;
    padding-left: 1vmin ;
    margin: 1vmin;
}


#hlinks{
    display: flex;
    padding-left:0.5vmin ;
    padding-right: 2vmax;
    font-size: 3.5vmin;
    font-weight: bolder;
}

.hli{
    color: white;
    text-decoration-line: none;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vmin;
    transition: 0.3s;
}
.hli:hover{
    background-color: #7986CB;
    
}

.dropdown-menu{
    display: flex;
    font-size: 3vmin;
    margin-top:-1.2vmin;
    align-items: flex-end;
    border-bottom-right-radius: 1vmin;
    border-bottom-left-radius: 1vmin;
    padding: 0;
    flex-direction: column;
    background-color: #5C6BC0;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}
.drop-content{
    border-bottom-right-radius: 1vmin;
    border-bottom-left-radius: 1vmin;
    display: none;
    padding: 1vmax;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5C6BC0;
    width: 14vmax;
    z-index: 1;
    box-shadow: 1px 3px 3px #919dd89a;
}
.drop-content p, label, a{
    font-size: 2.5vmin;
    text-decoration: none;
}

.drop-content button{
    background-color: #7986CB;
    border-color: transparent;
    border-radius: 1vmin;
    margin: 1vmin;
    color: #E8EAF6;
    font-weight: 900;
    box-shadow: 1px 3px 3px #7987cb49;
    width: fit-content;
}
.drop-content input{
    border-radius: 1vmin;
    width: 12vmax;
    height: 2vmax;
    border-color: transparent;
    padding: 0;
    align-content: center;
    font-size: 1.2vmax;
}
.drop-content a{
    color: #C5CAE9;
    font-weight: 900;
    
}
.dropdown-menu:hover .drop-content{
    display: flex;
    
}
    
  
    @media screen and (max-width: 710px) {
        .botaoContainer button{
            font-size: 2vmin;
            width: 9vmin;
        box-shadow: 1px 3px 3px #7987cb49;

        }
        .botaoContainer{
            margin-right: 4vmax;
        }
        .carrtext{
            margin-top: -9vmax;
            font-size: 2vmax;
        }
        .carrossel{
            width: 100%;
        }
        .section{
            padding-top: 3vmax;
        }
        #details{
            font-size: 1.5vmax;
        }
        #footer{
            height: 20vmax;
            padding-bottom: 8vmax ;
        }
        #contsitemap{
            left: 5vmax;
        }
        #subend{
            font-size: 1.5vmax;
        }
        #header{
            height: 10vmax;
        }
        .formshdivs{
            flex-wrap: wrap;
        }
        .searchbar-button {
            font-size: 1.5vmin;
            box-shadow: 1px 3px 3px #7987cb49;
        }
    } 
