.content {
    padding-top: 10vmax;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-self: center;
    color: #283477;
}