@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
    /*Revisado e Sem defeitos conhecidos*/
    height: 100%;
    width: 100%;
    color:white;
    font-family: 'Open Sans';
    padding:0;
    margin: 0
}
      .section{
    /*Revisado e sem defeitos conhecidos*/    
    display: flex;
    flex-direction: column;
    color:#283477;
    padding-top: 0;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0vh;
    margin-top: 15vmin;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
